<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation-emails/2.2.1/foundation-emails.min.css" rel="stylesheet">
    <title>Mail de traitement reclamation - Tunitravel</title>
</head>
<body>
<span class="preheader"></span>

<table class="body">
    <tr>
        <td class="center" align="center" valign="top">
            <center data-parsed="">
                <style type="text/css" align="center" class="float-center">
                    body,
                    html,
                    .body {
                        background: #f3f3f3 !important;
                    }
                </style>

                <table class="spacer float-center"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table>
                <table align="center" class="container float-center"><tbody><tr><td>
                            <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table>
                            <table class="row"><tbody><tr>
                                    <th class="small-12 large-12 columns first last"><table><tr><th>
                                                    <h1>Faute d'envoi mail de traitement.</h1>
                                                    <p>Bonjour ,nous sommes desolé pour le mail precedent.</p>
                                                    <p>Votre Reclamation  étais traité par l'équipe d'agence Tunitravel.</p>
                                                    <p> {{ body }}</p>

                                                    <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table>

                                                    <hr>
                                                    <h4>Quoi de neuf?</h4>
                                                    <p>heureux de vous considerer parmi nos client fideles, c'est pourquoi on vous gate par nos offres speciales pour les vacances d'ete </p>
                                                </th></tr></table></th>
                                </tr></tbody></table>
                            <table class="row footer text-center"><tbody><tr>
                                    <th class="small-12 large-3 columns"><table><tr><th>
                                                    <p>
                                                        Contacter nous aux 50524466<br>
                                                        Email : tunitraveltech@gmail.com
                                                    </p>
                                                </th></tr></table></th>
                                </tr></tbody></table>
                        </td></tr></tbody></table>
            </center>
        </td>
    </tr>
</table>

<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
</body>
</html>