{% extends 'base.html.twig' %}

{% block title %}Edit Reponse{% endblock %}

{% block body %}

        <h1>Modifier votre Reponse</h1>

        {{ include('reponse/_form.html.twig', {'button_label': 'Update'}) }}



{% endblock %}
